*{
    box-sizing: content-box;
}

#header-nav{
    background-color:#5095d0;
    border-radius: 0px;
    border:0;
    height:110px;
}

#logo-photo{
    background:url('../images/final_logo.jpg') no-repeat;
    width:100px;
    height:100px;
    margin:5px;
    vertical-align: middle;
    
    
}


#header-nav a:hover ,#header-nav a:focus{
    text-decoration: none;
    
}

.navbar-brand h1{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    margin-top:10px;
    
    
}
.navbar-brand p{
    font-size: 0.7em;
    color:#000;
    font-weight: bolder;
    text-transform:uppercase;
    
}

#nav-list{
    font-size: 1.5em;
    margin-top:10px;

}
#nav-list a{
    box-sizing: border-box;
    color:#fff;
    text-align: center;
    height:90px;
    width:90px;
    padding-top:20px;
    line-height:1.2em;
    
}

#navlist .active {
    color:black;
}
#nav-list a:hover{
    color:dodgerblue;
    background:white;
}

#nav-list a: focus{
    color:dodgerblue;
    background:white;
}

#nav-list .active a{
    color:black;
}
#collapsed-navbar{
    background-color:#5095d0;
    float:right;
}